/* Estilos generales para la página */
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Define la fuente para toda la página */
    margin: 0; /* Elimina márgenes por defecto */
    padding: 0; /* Elimina relleno por defecto */
    box-sizing: border-box; /* Cambia el modelo de caja para incluir el relleno y el borde en el tamaño total */
}

/* Estilo del cuerpo de la página */
body {
    background-image: url('./icons/Bosques-nublados.jpeg'); /* Establece una imagen de fondo */
    height: 90vh; /* Altura del cuerpo */
    display: flex; /* Utiliza flexbox para la disposición */
    justify-content: center; /* Centra el contenido horizontalmente */
    flex-direction: column; /* Dispone el contenido en columna */
    align-items: center; /* Centra el contenido verticalmente */
}

/* Estilo del contenedor principal */
#contenedor {
    text-align: center; /* Centra el texto dentro del contenedor */
    display: grid; /* Utiliza un diseño de cuadrícula */
    grid-template-columns: 1fr 1fr 1fr; /* Tres columnas de igual tamaño */
    grid-gap: 10px; /* Espacio entre las columnas */
}

/* Estilo de las cajas */
#caja1, #caja2, #caja3 {
    display: inline-block; /* Hace que las cajas se comporten como elementos en línea */
    text-align: center; /* Centra el texto dentro de las cajas */
    vertical-align: middle; /* Alinea verticalmente el contenido */
    padding-top: 20%; /* Añade espacio en la parte superior */
    width: 200px; /* Ancho fijo para cada caja */
    height: 200px; /* Alto fijo para cada caja */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 7px 9px 5px 0px rgba(0,0,0,0.75); /* Sombra de caja */
}

/* Estilos específicos para cada caja */
#caja1 {
    background-color: rgba(0,0,0,0.1); /* Fondo con transparencia para la caja 1 */
    color: black; /* Color del texto */
}

#caja2 {
    background-color: rgba(0,0,0,0.1); /* Fondo con transparencia para la caja 2 */
    color: balck; /* Error tipográfico: debería ser 'black' */
}

#caja3 {
    background-color: rgba(0,0,0,0.1); /* Fondo con transparencia para la caja 3 */
    color: balck; /* Error tipográfico: debería ser 'black' */
}
